Content-Type: text/html; charset=utf-8
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PotwierdzenieZamowieniaHtml</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
