@model Cukiernia.ViewModels.HomeViewModel


<!--Odwolujemy sie do skladni Razor
    Sciezka do konkretnego loyautu -->
@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@
<!--tite przekazywany do leyautu-->
@{
    ViewBag.Title = "Cukiernia";
}
<nav class="kategorieHorizontal">
    <ul>
        <!--pobieramy kategorie z modelu i wygennerujemy kod-->
        @foreach (var kategoria in Model.Kategorie)
            {
            <li>
                <!--By sprawdzic czy zostaly naprawde wygenerowane dynamicznie kategoriee mozena zainstalowac modul do glimpsa by sprawdzic czy są wykorzystywane zapytania sql . Glimpse.EF6  (8) -->
                <!--Helper URl przenosi do :metody List kontrolera Produkty, przekazujemy parametr nazwaKategori-->
                <a href="@Url.Action("List","Produkty", new { nazwaKategori = kategoria.NazwaKategorii.ToLower() })"
                   style="background-image: url(../Content/Kategorie/aspnet.png); ">
                    @kategoria.NazwaKategorii
                </a>
            </li>
        }
    </ul>
    <a href="link">
        <img id="baner" src="../Content/Images/baner.png" />
    </a>
</nav>



    <section>
        <ul class="KursyTrzyKolumny duzaListaKursy">
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="produktSzczegolyLink" href="link">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="../Content/Produkty/obrazekcss.png" />
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="produktSzczegolyLink" href="link">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="../Content/Produkty/obrazekhtml.png" />
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="produktSzczegolyLink" href="link">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="../Content/Produkty/obrazekjquery.png" />
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
        </ul>
    </section>
    <section>
        <ul class="KursyTrzyKolumny duzaListaKursy">
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="produktSzczegolyLink" href="link">
                        <div class="newFlag"></div>
                        <img class="kurs" src="../Content/Produkty/obrazekaspnet.png" />
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="produktSzczegolyLink" href="link">
                        <div class="newFlag"></div>
                        <img class="kurs" src="../Content/Produkty/obrazekcsharp.png" />
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="produktSzczegolyLink" href="link">
                        <div class="newFlag"></div>
                        <img class="kurs" src="../Content/Produkty/obrazekmvc.png" />
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
        </ul>
    </section>
